<h3>Edit: {{mygroup.group.name}}</h3>
<div class='updateBox'>

<form class="form-horizontal">

<p ng-model='updateSuccessMsg' class="updateSuccessMsg">{{updateSuccessMsg}}</p>

<label class="control-group">Name: <input type="text" ng-model="mygroup.group.name" > </label>
<label class="control-group">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Id:  <input type="text" ng-model="mygroup.group.id" readonly="readonly"> </label>

<div class="controls"><button type="submit" class="btn" ng-click="updateGroup()">Update</button></div>
</form>
</div>

