<h1>Lists</h1>

<table class="table table-hover">
	<tr ng-repeat="l in lists">
		<td>
			<a>{{l.list.name}}</a>

			<span class="col2">
				<a class="icon-edit" ng-click="editList($index)"></a>
				&nbsp;&nbsp;
				<a class="icon-remove" ng-click="deleteList($index, l)"></a>
			</span>

		</td>
	</tr>
</table>


<div ng-model="emptyListName" class="myAlertError">{{emptyListName}}
</div>

<form class="form-inline">
<input type="text" ng-model="listName">
<button class="btn btn-primary" ng-click="addList()">Add List</button>
</form>