<!DOCTYPE html>
<html>
<head>
  <title>Small App - KimQuy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="RandomName">




<div class="container">

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#/"><i class="icon-home"></i>&nbsp;Kimquy: Small App</a>
    <!-- <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul> -->
  </div>
</div>


	<%= yield %>

	<br/>

	<div class="footer">
	<p>@Long Nguyen 2013
		<a href="http://twitter.github.io/bootstrap/index.html">Bootstrap.</a>
	</p>
	</div>
</div>




</body>
</html>
